*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #e5e5e5;
}

#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin: 0 20px;
}

#top .score{
    display: flex;
    align-items: center;
    background: #F4F3F6;
    border-radius: 6px;
    padding: 6px 12px;
}

#top .score img{
    width: 22px;
    height: 22px;
}

#top .score span{
    font-size: 22px;
    font-weight: 600;
    color: #191D63;
    margin-left: 6px;
    font-family: 'General Sans';
}

#top .close{
    background: #F4F3F6;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}

#top .close img{
    position: absolute;
    left: 16px;
    top: 16px;
}

#top .title{
    font-size: 24px;
    font-weight: 600;
    font-family: 'General Sans';
}

#bottom{
    width: 100vw;
    height: 10vh;
    background: #F4F3F6;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#bottom button{
    width: 240px;
    padding: 10px;
    background: #747475;
    color: #EDE8E2;
    opacity: 0.5;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
    text-transform: uppercase;
    font-family: 'General Sans';
}

#bottom button.selected{
    background: #45C486 !important;
    opacity: 1 !important;
    cursor: pointer !important;
}

#bottom #progress_bar{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
}

#bottom #progress_bar .bar{
    width: 200px;
    height: 16px;
    background: #EDE8E3;
    border-radius: 16px;
}

#bottom #progress_bar .count{
    font-family: 'General Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    margin-left: 14px;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 4vh 0;
    overflow:auto;
}

#main #question{
    min-width: 690px;
    color: #191D63;
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 5vh;
}

#main #answers>div{
    height: 80px;
    width: 610px;
    background: #F4F3F6;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    padding: 16px 24px;
    align-items: center;
}

#main #answers>div:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
}

#main #answers .selected{
    background: #45C486 !important;
}

#main #answers .selected .answer{
    color: #F4F3F6 !important;
}

#main #answers>div .index{
    min-width: 49px;
    min-height: 49px;
    border-radius: 50%;
    background: #EDE8E3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 21.6358px;
    line-height: 29px;
    color: #060710;
}

#main #answers .selected .index{
    color: #45C486 !important;
}

#main #answers>div .answer{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #060710;
}

.restart{
    background: #45C486 !important;
    opacity: 1 !important;
    cursor: pointer !important;
}

